---

- hosts: localhost
  gather_facts: false
  tasks:
    - name: Get a list of all pods from any namespace
      kubernetes.core.k8s_info:
        kind: Pod
      register: pod_list

    - debug: var=pod_list verbosity=3